body {
    background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2018-06/14/full/1528966655-8748.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 40%;
    margin-bottom: auto;
    width: 40%;
    background-color: white !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: slateblue;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
}

button {
    background-color: slateblue;
    color: white;
}

mat-form-field {
    width: 400px
}

mat-raised-button{
    // margin: 0 auto;
    // display: flex;
}

.student-container {
    justify-content: center;
    text-align: center;
}




