

<div class="container my-lg-5">
	<div class="d-flex justify-content-center h-100">
		<!-- <div>
			<img src="/assets/disc.jpg" style="height: 340px;">
		</div>
		<div class="card">
			<div class="card-header ">
				<h3 style="color: indigo;">Sign Up</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope" style="color:white"></i></span>
						</div>
						<input [(ngModel)]="email" type="email" class="form-control" name="emailID" placeholder="Email ID">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key" style="color:white"></i></span>
						</div>
						<input [(ngModel)]="password" type="password" class="form-control" name="pwd"  placeholder="Password">
					</div>
					<div class="form-group">
						<button (click)="SignUp()" type="submit" class="btn float-right">Sign Up</button>
					</div>
				</form>
			</div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already registered?<a routerLink="/signin">Login</a>
                
            </div>

		</div> -->


		
		<div class="container my-lg-5">
			<div class="d-flex justify-content-center h-500">
				<div class="card">
					<img src="/assets/sign-up-image.jpg" style="height: 40%;" >
				</div>
				<div class="card">
					<div class="card-header">
						<h3 style="color: indigo; font-size: 30px;">Sign Up</h3>
					</div>
					<div class="card-body">
						<mat-form-field appearance="outline">
							<mat-label>Student Name</mat-label>
							<input matInput [(ngModel)]="user.Name">
						  </mat-form-field>
						  <br>
						  
						  <mat-form-field appearance="outline">
							<mat-label>Enrolment Year</mat-label>
							<input matInput type="number" [(ngModel)]="user.Enrol_year">
						  </mat-form-field>
						  <br>
						  <mat-form-field appearance="outline">
							<mat-label>Department</mat-label>
							<mat-select [(ngModel)]="user.Department">
							  <mat-option *ngFor="let d of dep" [value]="d.value" >
								  {{d.viewValue}}
							  </mat-option>
							</mat-select>
						  </mat-form-field>
						  <br>
						  <mat-form-field appearance="outline">
							  <mat-label>Email</mat-label>
							  <input matInput type="email" [(ngModel)]="email">
						  </mat-form-field>
						  <br>
						  <mat-form-field appearance="outline">
							  <mat-label>Password</mat-label>
							  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
							  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
							  
						  </mat-form-field>
						  <br>
						
						  <section>
							<div style="text-align: center;">
							  <button style="background-color: slateblue;" mat-raised-button color="primary" (click)="SignUp()">Register</button>
							</div>
						  </section>
					</div>
					
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Already have an account?<a routerLink="/signin">Sign In</a>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<!-- <div class="student-container">
			
			<mat-form-field appearance="outline">
			  <mat-label>Student Name</mat-label>
			  <input matInput [(ngModel)]="user.Name">
			</mat-form-field>
			<br>
			
			<mat-form-field appearance="outline">
			  <mat-label>Enrolment Year</mat-label>
			  <input matInput type="number" [(ngModel)]="user.Enrol_year">
			</mat-form-field>
			<br>
			<mat-form-field appearance="outline">
			  <mat-label>Department</mat-label>
			  <mat-select [(ngModel)]="user.Department">
				<mat-option *ngFor="let d of dep" [value]="d.value" >
					{{d.viewValue}}
				</mat-option>
			  </mat-select>
			</mat-form-field>
			<br>
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput type="email" [(ngModel)]="email">
			</mat-form-field>
			<br>
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				
			</mat-form-field>
			<br>
		  
			<section>
			  <div class="example-button-row">
				<button style="background-color: slateblue;" mat-raised-button color="primary" (click)="SignUp()">Register</button>
			  </div>
			  <br>
			  <br>
			  <div class="d-flex justify-content-center links">
                Already have an account?<a routerLink="/signin">Sign In</a>
            </div>
			</section>

		  </div> -->

	</div>
</div>



<!-- 
name
branch
batch -->